IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_SUPERBLOQUE=../fileSystem/grupoDeBloques/fileSystem.superbloque
PATH_BITMAP=../fileSystem/grupoDeBloques/bitmap.bin
PATH_BLOQUES=../fileSystem/grupoDeBloques/archivoBloques
PATH_FCB=../home/utnso/fileSystem/grupoDeBloques
RETARDO_ACCESO_BLOQUE=15000
